.login-container {
  border: 1px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  z-index: 0;
  position: absolute;
}

input {
  border: 1px solid grey;
}

#hide-btn {
  margin-top: 3px;
}
